.book-list-page {
    width: 85vw;
    height: 100vh;
    background-color: #f5f2e9;
    margin-top: -20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.book-list-container {
    width: 90%;
    margin-left: 5%;
    align-self: start;
    background-color: #f5f2e9;
    padding: 20px;
}
.book-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px; /* opcjonalnie: odstęp między nagłówkiem a tabelą */
}

.book-list-header h2 {
    font-family: Imbue, serif;
    font-weight: bold;
    color: #483C32;
    font-size: 36px;
    margin-bottom: 20px; /* Dodanie odstępu poniżej nagłówka */
    text-align: left;
}

.book-list-table {
    width: 100%; /* Ustawienie szerokości na 100% kontenera */
    border-collapse: collapse;
}

.book-list-table th,
.book-list-table td {
    border: 1px solid #483C32;
    font-family: Imbue, serif;
    color: #483C32;
    padding: 12px; /* Zwiększenie odstępu w komórkach */
    text-align: center;
}

.book-list-table th {
    background-color: #e9e4d8; /* Delikatnie zmiana koloru tła nagłówka */
}

.book-list-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.book-list-table tr:hover {
    background-color: #ddd;
}
