.review-list-page {
    height:100vh;
    width: 85vw;
    margin-top: -20px;
    justify-content: center; /* Wyśrodkowanie zawartości wzdłuż osi X */
    align-items: center; /* Wyśrodkowanie zawartości wzdłuż osi Y */
    flex-direction: column; /* Ustawienie kierunku flexbox na kolumnę */
    background-color: #f5f2e9;
}
.review-list-container {
    width: 90%;
    margin-left: 5%;
    align-self: start;
    background-color: #f5f2e9;
    padding: 20px;
}
.review-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px; /* opcjonalnie: odstęp między nagłówkiem a tabelą */
}

.review-list-header h2 {
    font-family: Imbue, serif;
    font-weight: bold;
    color: #483C32;
    font-size: 36px;
    margin-bottom: 20px; /* Dodanie odstępu poniżej nagłówka */
    text-align: left;
}

.review-list-table {
    width: 100%; /* Ustawienie szerokości na 100% kontenera */
    border-collapse: collapse;
}

.review-list-table th,
.review-list-table td {
    border: 1px solid #483C32;
    font-family: Imbue, serif;
    color: #483C32;
    padding: 12px; /* Zwiększenie odstępu w komórkach */
    text-align: center;
}

.review-list-table th {
    background-color: #e9e4d8; /* Delikatnie zmiana koloru tła nagłówka */
}

.review-list-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.review-list-table tr:hover {
    background-color: #ddd;
}
